<p id="notice"><%= notice %></p>

<p>
  <strong>Units:</strong>
  <%= @product_material.units %>
</p>

<%= link_to 'Edit', edit_product_material_path(@product_material) %> |
<%= link_to 'Back', product_materials_path %>
