.nested-fields.product-category-fields
  #product_from_list 
  = f.association :category, label: "Categoría existente",  label_method: :name, value_method: :id

  = link_to_remove_association "Eliminar categoría de la venta", f
